/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Стили для контейнера формы */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

/* Стили для заголовка формы */
h2 {
    margin-top: 0;
    color: #333;
}

/* Стили для формы */
form {
    display: flex;
    flex-direction: column;
}

/* Стили для полей ввода */
form input[type="text"],
form input[type="password"],
form input[type="email"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Стили для кнопки отправки */
form button {
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #4cae4c;
}

/* Стили для ссылки регистрации */
a {
    color: #5bc0de;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.helptext {
    display: none;
}

.custom-error {
    display: none;
}

p {
    margin: 0;
}